<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script src="public/js/chat.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <style>
        .main_img{
            width: 50%;
            position:absolute;
            margin-left: 25%;
            margin-top:10px;
        }
        #disappear{
            position: relative;
            z-index: 1;
            text-align: center;
            padding-top: 10%;
        }
        input[type=text]{
            border-radius: 3px;
            border: 1px black solid;
            height: 30px;
        }
        .btn{
            color:white;
        }
        .btn:hover{
            background-color: #9ebae2 ;
            color: white;
        }
    </style>

</head>
<body>
    <div class="main_img" id="disappear2">
        <img src="./public/image/main.png" style="width: 100%;">
    </div>
    <div id="disappear">
        <div>
            <img src="/public/image/logo.png">
            <br>
            <br>
            <input type="text" id="hostInput" value="localhost">
            <input type="text" id="portInput" value='2000'>
        </div>
        <br>
        <br>
            <input type="text" id="nickname" value="닉네임을 입력하세요" style="width: 300px;">
        <br>
        <br>
        <input class="btn" type="button" id="connectButton" value="연결하기" style="width: 300px; background-color: #9ebae2;">
    </div>

    <div style=" border: 1px solid black; width: 40%; margin-left: 30%; padding-top: 50px;">
        <img src="./public/image/logo.png" style="width: 100%;">

        <div style="display: none;">
            <span>받는 사람 아이디:</span>
            <input type="text" id="recepientInput" value="ALL">
        </div>

            <span>메시지 입력:</span>
            <input type="text" id="dataInput" value="" style="width: 50%;">
        <input class='btn' type="button" id="sendButton" value="전송" style="background-color: #b2dffc; width: 200px;">

        <br>
        <div id="result" style="overflow: auto;"></div>
    
    </div>



    <!-- <script>
        var host;
        var port;
        var socket;

        //문서 로딩 후 실행
        $(function(){
            //연결하기
            $("#connectButton").bind('click', function(event){
                println('버튼 클릭');

                host = $("#hostInput").val();
                port = $("#portInput").val();

                function println(data){     //책에서는 여기에 printl함수 안써줬음. 왜 안되나 한참 찾음.
                console.log(data);
                $('#result').append('<p>'+data+'</p>')
            }

                connectToServer();
            })
        //전송 버튼을 클릭하면 처리
        $("#sendButton").bind('click', function(event){
            var sender = $('#senderInput').val();
            var recepient = $('#recepientInput').val();
            var data = $('#dataInput').val();

            var output = {sender:sender, recepient:recepient, command:'chat', type:'text', data:data}
            console.log('서버로 보낼 데이터:'+JSON.stringify(output));

            if(socket == undefined){
                alert('서버에 연결되어 있지 않습니다.')
                return;
            }
            
            socket.emit('message', output);
        })

        })

        
        //서버에 연결하는 함수 정의
        function connectToServer(){
            var options = {'forceNew': true};
            var url = 'http://'+host+':'+port;
            socket = io.connect(url, options);

            socket.on('connect', function(){
                println('웹 소켓 서버에 연결됨'+ url);

                socket.on('message', function(message){
                    console.log(JSON.stringify(message));
                    println('<p>수신 메시지:'+message.sender+','+message.recepient+','+message.command+','+message.type+','+message.data+'</p>')
                })
            })

            socket.on('disconnect', function(){
                println('웹 소켓 연결 종료');
            })

            function println(data){
                console.log(data);
                $('#result').append('<p>'+data+'</p>')
            }
        }

    </script> -->
</body>
</html>