<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script src="/js/chat.js"></script>

</head>
<body>
    <div>
        <input type="text" id="hostInput" value="localhost">
        <input type="text" id="portInput" value='2000'>
        <input type="button" id="connectButton" value="연결하기">
        <input type="button" id="enterChat" value="입장하기">
    </div>

</body>
</html>